.top {
    background-color: #1f2937;
    margin: 0px;
}

.header {
    display: flex;
    align-items: center;
}
.header >h3{
    font-size: 24px;
    color: #f9faf8;
    align-items: flex-start;
}
.links{
    display: flex;
    margin-left: auto;
    margin-right: 20px;
    align-items: flex-end;
}
.link{
    font-size: 18px;
    color: #e5e7eb;
    margin-left: 15px;
}
.top >.content >h2 {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 800;
}
.head >h3{
    text-align: center;
}
.text {
    font-size: 18px;
    color: #e5e7eb;
}
.content {
    display: flex;
    align-items: center;
}

.random {
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.quote{
    background-color: #e5e7eb;
}
.quote-text {
    color: #1f2927;
    font-size: 32px;
    font-style: italic;
    font-weight: 300;
}
.source {
    text-align: end;
}
.buttony {
    display: flex;
    background-color: #3882f6;
    margin-left: 20%;
    margin-right: 30%;
    justify-content: center;
    align-items:  center;
}

.footer {
    background-color: #1f2937;
    text-align: center;
    margin-top: 15px;
    font-size: 20px;
}