body {
    text-align: center;
}

.top {
    background-color: #1f2937;
    margin: 0px;
}
.picture{
    width: 300px;
    height: auto;
    margin-right: 15px;
    margin-bottom: 14px;
}
.header {
    display: flex;
    align-items: center;
}
.header >h3{
    font-size: 24px;
    color: #f9faf8;
    align-items: flex-start;
    margin-left: 16px;
}
.links{
    margin-left: auto;
    margin-right: 20px;
}
.link{
    font-size: 18px;
    color: #e5e7eb;
    margin-left: 15px;
}
.content{
    display: flex;
    justify-content: space-between;
}
.content-text >h2 {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 800;
}
.text{
    font-size: 18px;
    color: #e5e7eb;
}
.content {
    display: flex;
    align-items: center;
}
.random {
    display: flex;
    justify-content:center;
    gap: 15px;  
}

.quote{
    margin-top: 12px;
    background-color: #e5e7eb;
}
.quote-text {
    color: #1f2927;
    font-size: 32px;
    font-style: italic;
    font-weight: 300;
}
.source {
    text-align: end;
}
.buttony {
    display: flex;
    background-color: #3882f6;
    margin-left: 20%;
    margin-right: 30%;
    border-radius: 12px;
    justify-content: center;
    align-items:  center;
}
button{
    background-color: #3882f6;
    border-color: #f9faf8;
    border: none;
    border: 2px solid white;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 6px;
}
.column{
    display: flex;
    flex-direction: column;
    margin-left: 12px;
}
.footer {
    background-color: #1f2937;
    margin-top: 15px;
    font-size: 20px;
}